<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xcjh.app">
    <!-- 谷歌商店应用内购买结算需要的权限v3v4版本 当前v5 -->
    <!--
    <uses-permission android:name="com.android.vending.BILLING" />
        <uses-permission android:name="com.farsitel.bazaar.permission.PAY_THROUGH_BAZAAR" />
    -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- FCM -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 通知震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" /> <!-- 适配Android 13，应用弹出通知必须权限 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- 投屏 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <queries package="${applicationId}">
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.media.action.ACTION_VIDEO_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="${app_name}"
        android:largeHeap="true"
        android:networkSecurityConfig="${networkConfig}"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/App.Theme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.chat.VideoPlayActivity"
            android:exported="false" />
        <!-- android:noHistory="true" 有广告时使用 -->
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Starting" />
        <activity
            android:name=".ui.home.my.operate.PushSetActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.my.operate.VibrateSetActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.my.operate.SetUpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.my.operate.LevelMissionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.my.operate.ContactUsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.feed.FeedNoticeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.my.personal.EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.my.personal.PersonalDataActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.my.operate.ViewingHistoryListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.search.SeacherFriendActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.my.operate.MyFollowListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".web.WebRichTextActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.my.operate.EventsCentreActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".web.WebActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.chat.ChatActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.notice.MyNoticeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.LetterCountryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.search.SeacherMsgActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/my_app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.details.MatchDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait" />
        <!--
 <meta-data
             android:name="firebase_crashlytics_collection_enabled"
             android:value="${is_release}" />
        -->
        <service
            android:name=".websocket.MyWsClientService"
            android:enabled="true"
            android:exported="false" /> <!-- push start******************* -->
        <!-- 白名单 -->
        <meta-data
            android:name="ENGAGELAB_PRIVATES_TRANSFER"
            android:value="com.xcjh.app.ui.SplashActivity" /> <!-- 用于演示自定义消息展示 -->
        <activity
            android:name=".component.CustomMessageActivity"
            android:exported="false" /> <!-- 由于此类具有长连接功能，手机厂商省电优化时可能直接杀死包名带Engagelab字样的service -->
        <!-- 所以需要开发者继承com.engagelab.app.component.MTCommonService，提升长连接存活率，已达到提高消息到达率的目的 -->
        <service
            android:name=".component.UserService"
            android:exported="false"
            android:process="${ENGAGELAB_PRIVATES_PROCESS}">
            <intent-filter>
                <action android:name="com.engagelab.privates.intent.USER_SERVICE" />
            </intent-filter>
        </service> <!-- 用于接收Engagelab业务的回调，包含了长连接状态/通知开关状态/通知消息到达/通知消息点击/通知消息删除/自定义消息/tag操作/alias操作/厂商token回调 -->
        <!-- 不需要配置子进程，此回调中在主进程中，方便业务操作 -->
        <receiver
            android:name=".component.UserReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.engagelab.privates.intent.USER_RECEIVER" />
            </intent-filter>
        </receiver> <!-- google push need -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/app_logo" /> <!-- huawei push need -->
        <meta-data
            android:name="com.huawei.messaging.default_notification_icon"
            android:resource="@drawable/app_logo" /> <!-- 投屏需要的服务 -->
        <service
            android:name="com.android.cling.service.ClingUpnpService"
            tools:ignore="Instantiatable" />
        <service android:name="com.android.cling.service.LocalFileService" />
    </application>

</manifest>