@mixin addIcon($list: flex, $url: '@/assets/img/', $suffix: 'jpg') {
  @for $i from 1 through length($list) {
    $cur: nth($list, $i);
    &.#{$cur} {
      background: url('#{$url}#{$cur}.#{$suffix}') no-repeat, transparent;
      background-size: auto 100%;
      background-position: center;
    }
  }
}
.sports-card {
  background: #fff;
  position: relative;
  // @include use-active-style();
}
.sports-card__tip {
  font: 400 22px / normal 'PingFang SC';
  color: #94999f;
}
// .sports-card__bar {
// position: relative;
// }
.sports-card__info {
  font: 400 22px / normal 'PingFang SC';
  color: #94999f;
}
.sports-card__info--name {
  max-width: 156px;
}
.sports-card__info--star {
  position: absolute;
  top: 4px;
  right: 4px;
  box-sizing: content-box;
  padding: 0;
  z-index: 1;
  flex: 0 0 auto;
  width: 80px;
  height: 80px;
}
.sports-card__info--state {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  font-weight: 500;
  font: 400 22px / normal 'PingFang SC';
  color: #94999f;
  &.run {
    color: #e6820c;
  }
  &.end {
    color: #999;
  }
  .sports-card__info--state__dot {
    animation: sportsStateOpacity 1s linear infinite;
    padding-left: 2px;
  }
}
.sports-card__name {
  font: 500 24px / normal 'PingFang SC';
  color: #37373d;
}
.sports-card__space {
  font: 500 24px / normal 'MiSans';
  color: #34a853;
  vertical-align: middle;
  position: relative;
  z-index: 5;
  &.none {
    font: 500 24px / normal 'PingFang SC';
    color: #37373d;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background: #e8eaef;
    transform: translate(-50%, 0);
    z-index: -2;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 52px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #e8eaef;
    overflow: hidden;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}
.sports-card__country {
  :deep(.use-img) {
    .use-img__image {
      object-fit: contain;
    }
  }
}
.sports-card__score {
  font: 400 20px / normal 'PingFang SC';
  padding: 1px 30px 0;
  color: #94999f;
}
.sports-card__type {
  $icon-list: 'basketball', 'football';
  @include addIcon($icon-list, '@/assets/img/sportsCard/icon_');
}
// .sports-card__country {
//   $icon-list: 'china', 'usa';
//   @include addIcon($icon-list, '@/assets/img/sportsCard/country/');
// }
// .sports-card__star {
//   background: url('@/assets/img/sportsCard/star.jpg') no-repeat, transparent;
//   background-size: auto 100%;
//   background-position: center;
//   &.active {
//     background: url('@/assets/img/sportsCard/star_active.jpg') no-repeat, transparent;
//     background-size: auto 100%;
//     background-position: center;
//   }
// }
// .sports-card__name--home{
//   padding-right: 20px;
//   padding-left: 0;
// }
// .sports-card__name--visit{
//   padding-left: 22px;
//   padding-right: 0;
// }
.sports-card.basketball {
  .sports-card__group {
    flex-flow: row-reverse;
    .sports-card__space {
      flex-flow: row-reverse;
    }
  }

  // .sports-card__name--home{
  //   padding-right: 0;
  //   padding-left: 22px;
  // }
  // .sports-card__name--visit{
  //   padding-left: 0;
  //   padding-right: 20px;
  // }
  .sports-card__score .sports-card__score--value {
    flex-flow: row-reverse;
  }
}
